<div class="panel panel-default" ng-controller="PessoaCadastroController as vm">

    <div class="panel-heading">Cadastro de Pessoa</div>

    <div class="panel-body">

        <span ng-bind="vm.title"></span>

    </div>

    <div class="panel-footer">

        <div class="btn-group">
            <button class="btn btn-primary" ng-click="vm.gravar()">
                <i class="fa fa-save"></i>
                Salvar
            </button>
            <button class="btn btn-warning">
                <i class="fa fa-eraser"></i>
                Limpar
            </button>
            <button class="btn btn-danger"
                    ng-disabled="myForm.$invalid">
                <i class="fa fa-trash"></i>
                Excluir
            </button>

        </div>

    </div>

</div>