<div class="panel panel-default" ng-controller="PessoaCadastroController as vm">

    <div class="panel-heading">Cadastro de Pessoa</div>

    <div class="panel-body">

        <span ng-bind="vm.title"></span>

        <p></p>

        <div class="row">

            <form novalidate name="myForm">

                <div class="col-sm-6">

                    <rw-input-text label="Nome"
                                   placeHolder="Entre com os dados da pessoa"
                                   ng-model="vm.entidade.nome"
                                   ng-required="true"
                                   ng-maxlength="50"
                                   ng-alessandro = "vm.entidade.teste">
                    </rw-input-text>

                </div>

                <div class="col-sm-6">

                    <rw-input-text label="Sobrenome"
                                   placeHolder="Sobrenome da pessoa"
                                   ng-model="vm.entidade.sobreNome"
                                   ng-required="false"
                                   ng-maxlength="50">
                    </rw-input-text>

                </div>

            </form>

        </div>

        <span>Dados da Entidade: {{vm.entidade}}</span>

    </div>

    <div class="panel-footer">

        <div class="btn-group">
            <button class="btn btn-primary" ng-click="vm.gravar()">
                <i class="fa fa-save"></i>
                Salvar
            </button>
            <button class="btn btn-warning">
                <i class="fa fa-eraser"></i>
                Limpar
            </button>
            <button class="btn btn-danger"
                    ng-disabled="myForm.$invalid">
                <i class="fa fa-trash"></i>
                Excluir
            </button>

        </div>

    </div>

</div>